extends ../../layouts/default.pug 

include ../../mixins/alert

block main
    
    +Alert(messages,"5000")

    h1 Danh sách sản phẩm
    .container-fluid.px-3
        .productTool.container.px-0.rounded
            p.bg-gray-200.font-bold.px-3.py-3.m-0 Bộ lọc và tìm kiếm
                .boLoc.px-3.py-3.d-flex.justify-between 
                    .d-flex.items-center.gap-x-3
                        each item in button 
                            button(class = `buttonDefault border-none ${item.class}` active = `${item.status}`) #{item.content}
                    form(class = "d-flex items-center form__timKiem rounded" id = "form-search")
                        input(type = "text" name = "keyword" class = "border-none outline-none")
                        button(class = "border-none bg-white")
                            i(class="fa-solid fa-magnifying-glass")
    .py-2
    .container-fluid.px-3
        .productTool.container.px-0.rounded
            p.bg-gray-200.font-bold.px-3.py-3.m-0 Sắp Xếp
            select(name="sort" class="select-sort" style = "margin: 20px 12px;")
                option(readonly value = "") Sắp Xếp
                option(value="position-asc" selected= keyAndValueSort === "position-asc") Vị Trí Tăng Dần
                option(value="position-desc" selected= keyAndValueSort === "position-desc") Vị Trí Giảm Dần
                option(value="price-asc" selected= keyAndValueSort === "price-asc") Giá Cả Tăng Dần                    
                option(value="price-desc" selected= keyAndValueSort === "price-desc") Giá Cả Giảm Dần                    
                option(value="title-asc" selected= keyAndValueSort === "title-asc") Tiêu Đề A-Z
                option(value="title-desc" selected= keyAndValueSort === "title-desc") Tiêu Đề Z-A
            button(class = "bg-red border-none font-bold text-white rounded cursor-pointer button-clear") Clear
    .py-2
    div(class="dsSanPham container-fluid")
        .container
            div(class="d-flex justify-between align-self m-bottom-3")
                div(class="d-flex gap-x-3 align-self")
                    form(action="/admin/products/change-multi?_method=PATCH" method="POST" id="form-change-multi" class="d-flex gap-x-3 align-self")
                        select(name="type" class="border-none rounded px-3 py-2")
                            option(disabled selected) --Chọn Thao Tác--
                            option(value="active") Hoạt Động
                            option(value="inactive") Dừng Hoạt Động
                            option(value="delete") Xoá Tất Cả
                            option(value="change-position") Thay đổi vị trí
                        input(class="d-none" name="ids" value="")
                        button(type="submit" class="border-none text-white bg-blue rounded px-3 py-2 cursor-pointer") Áp Dụng
                    a(href="products/trashCan" class="text-decoration-none text-gray-600 py-2") Thùng Rác
                if(role.permissions.includes("permissions-product-create"))
                    a(href="/admin/products/create" class="border-none text-white bg-blue px-4 py-2 rounded font-bold text-decoration-none cursor-pointer") Thêm mới sản phẩm
                
            
        table.container-fluid.productTool.w-full.bg-white.rounded-lg(checkbox-multi)
            thead.bg-gray
                tr.text-align-center
                    th.py-2
                        input.cursor-pointer(type="checkbox" id="changeStatusAll")
                    th.py-2 STT
                    th.py-2 Hình ảnh
                    th.py-2 Tiêu đề
                    th.py-2 Giá
                    th.py-2 Vị trí
                    th.py-2 Trạng thái
                    th.py-2 Hành động
            tbody
                each item,index in products
                    tr.text-align-center.boxItem
                        td.py-2
                            input.cursor-pointer(type="checkbox" name="id" value=item.id)
                        td.py-2.font-14 #{index+1}
                        td.py-2
                            img.rounded.object-fit-cover(src=item.thumbnail style="width:70px;height:70px")
                        td.py-2.text-align-start.font-14.font-bold #{item.title}
                        td.py-2.font-14.text-orange #{item.price}$
                        td.py-2
                            input.rounded.custom-border.text-align-center.py-1(type="number" name="position" value=item.position style="width:70px")
                        td.py-2
                            button.border-none.font-bold.rounded.font-14.py-1.px-3.cursor-pointer(class=item.active=="active" ? "bg-green text-white" : "bg-red text-white" button-status=item.active=="active" ? "inactive" : "active" id-element=item.id) #{item.active=="active" ? "Hoạt động" : "Không hoạt động"}
                        td.py-2
                            .d-flex.gap-x-3
                                if(role.permissions.includes("permissions-product-edit"))
                                    button.bg-orange.border-none.font-bold.rounded.font-14.py-1.px-3.cursor-pointer
                                        a.text-decoration-none.text-white(href=`/admin/products/edit/${item.id}`) Sửa
                                if(role.permissions.includes("permissions-product-delete"))
                                    button.bg-red.border-none.font-bold.rounded.font-14.py-1.px-3.cursor-pointer(button-delete-product id-element=item.id) Xoá
                                button.bg-blue.border-none.font-bold.rounded.font-14.py-1.px-3.cursor-pointer
                                    a.text-decoration-none.text-white(href=`/admin/products/detail/${item.id}`) Xem
    
    
    nav 
        ul(class = "pagination")
            - if(currentPage>1)
                li(class = "page-item")
                    button(class = "page-link" button-pagination = currentPage-1) Trang trước
            - for (let i = 1;i<=totalPage;i++)
                li(class = `page-item ${currentPage==i ? "active" : ""}`)
                    button(class = "page-link" button-pagination = i) #{i}
            
            - if(currentPage<totalPage)
                li(class = "page-item")
                    button(class = "page-link" button-pagination = currentPage+1) Kế tiếp


    form(
        id = "form-changeStatus"
        method = "POST"
        action = "/admin/products/change-status"
    )

    form(
        id = "change-position"
        method = "POST"
        action = ""
        data-path = `/admin/products/change-position`
    )

    form(
        id = "delete-product"
        method = "POST"
        action = ""
        data-path = `/admin/products/delete-product`
    )



                    