extends ../../layouts/default
include ../../mixins/alert

block main
    link(rel = "stylesheet" href = "css/client/cart.css")
    link(rel = "stylesheet" href = "css/client/checkout.css")
    - 
        function formatMoney(s){
            const money = s.toString();
            if(money.length < 4){
                return money;
            }
            const arr = [];
            let pos = 0;
            for(var i = money.length - 1;i>=0;i--){
                arr.push(money[i])
                pos++
                if(pos % 3 == 0 && i!=0) {
                    arr.push(",")
                }
            }
            
            return arr.reverse().join("");
        }
    +Alert(messages,5000)
    
    .container-fluid.text-align-start
        .container.d-flex.flex-column.items-center
            h3.text-red.font-bold Đặt Hàng
            - if(cart.products.length > 0)
                table(class = "col-12 px-0 py-0" class = "table-cart")
                    thead
                        tr
                            th Sản phẩm
                            th Đơn Giá
                            th Số Lượng
                            th Tổng Tiền
                            th Thao Tác
                    tbody
                        each product in cart.products
                            tr.bg-white
                                td.py-2
                                    .d-flex.items-center.gap-x-1.justify-center
                                        img(src = product.thumbnail class = "col-2 px-0 py-0")
                                        span.font-bold.font-14 #{product.title}
                                td.font-bold #{formatMoney(product.price)}đ
                                td
                                    span.font-bold #{product.quantity}
                                td.font-bold.text-red #{formatMoney(product.price * product.quantity)}đ
                                td
                                    button.bg-red.text-white.font-bold.rounded.border-none(btn-delete element-id = product._id) Xoá
                .py-2
                .d-flex.justify-end.table-cart
                    span.font-bold.font-11 Tổng đơn giá: 
                        span.font-bold.text-red #{formatMoney(totalPrice)}đ
                
                form.table-cart.bg-white.rounded.p-3.d-flex.flex-column.gap-y-3(action = "/checkout/order" method = "POST")
                    .d-flex.flex-column.gap-y-1
                        label.font-bold.font-11 Họ tên
                        input.px-2.py-2.rounded.custom-border(type="text" name="fullName" placeholder="Nhập họ tên")
                    .d-flex.flex-column.gap-y-1
                        label.font-bold.font-11 Số điện thoại
                        input.px-2.py-2.rounded.custom-border(type="text" name="phone" placeholder="Nhập số điện thoại")
                    .d-flex.flex-column.gap-y-1
                        label.font-bold.font-11 Địa chỉ
                        input.px-2.py-2.rounded.custom-border(type="text" name="address" placeholder="Nhập địa chỉ")
                    button.py-2.bg-green.text-white.font-bold.rounded.border-none.cursor-pointer(type="submit") Đặt hàng

            - else
                .d-flex.flex-column.items-center
                    span.font-bold.text-gray-600 Không có sản phẩm nào trong giỏ
                    a(href = "/products") Đặt Hàng Ngay