mixin render-category(arr, level)
    - const prefix = new Array(level + 1).join("-- ")
    each item in arr
        tr
            td
                input.cursor-pointer(type="checkbox" name="id" value=item._id)
            td.font-13 #{item._id}
            td
                img.rounded(src=item.thumbnail style="width:80px;height:80px;object-fit:cover")
            td.font-bold.text-align-start(style=`padding-left:${level * 20}px`) #{prefix} #{item.title}
            td
                input.rounded.custom-border.text-align-center.py-1(type="number" name="position" value=item.position style="width:70px")
            td
                if(role.permissions.includes("permissions-category-edit"))
                    button.border-none.rounded.font-13.font-bold.py-2.px-3.cursor-pointer(class=`${item.status=="active" ? "bg-blue text-white" : "bg-red text-white"}` button-status=item.status=="active" ? "inactive" : "active" id-element=item._id) #{item.status=="active" ? "Hoạt động" : "Không hoạt động"}
                else
                    button.border-none.rounded.font-13.font-bold.py-2.px-3(class=`${item.status=="active" ? "bg-blue text-white" : "bg-red text-white"}`) #{item.status=="active" ? "Hoạt động" : "Không hoạt động"}
            td
                if(role.permissions.includes("permissions-category-edit"))
                    button.bg-orange.border-none.rounded.font-13.font-bold.py-2.px-3.cursor-pointer
                        a.text-decoration-none.text-black(href=`/admin/product-category/edit/${item._id}`) Sửa
                if(role.permissions.includes("permissions-category-delete"))
                    button.bg-red.text-white.border-none.rounded.font-13.font-bold.py-2.px-3.cursor-pointer(button-delete-product-category id-element=item._id) Xóa
                button.bg-blue.text-white.border-none.rounded.font-13.font-bold.py-2.px-3.cursor-pointer
                    a.text-decoration-none.text-white(href=`/admin/products/detail/${item._id}`) Chi tiết
        - if(item.children?.length > 0)
            +render-category(item.children, level + 1)