extends ../../layouts/default.pug
include ../../mixins/alert

block main
    link(rel = "stylesheet" href = "css/client/cart.css")
    +Alert(messages,5000)
    - 
        function formatMoney(s){
            const money = s.toString();
            if(money.length < 4){
                return money;
            }
            const arr = [];
            let pos = 0;
            for(var i = money.length - 1;i>=0;i--){
                arr.push(money[i])
                pos++
                if(pos % 3 == 0 && i!=0) {
                    arr.push(",")
                }
            }
            
            return arr.reverse().join("");
        }
    
    .container-fluid.text-align-start
        .container.d-flex.flex-column.items-center
            - if(cart.products.length > 0)
                table(class = "col-12 px-0 py-0" class = "table-cart" table-cart)
                    thead
                        tr
                            th.col-1
                                input(type = "checkbox" name = "check-all")
                            th.col-3 Sản phẩm
                            th.col-2 Đơn Giá
                            th.col-2 Số Lượng
                            th.col-2 Số Tiền
                            th.col-2 Thao Tác
                    tbody
                        each product in cart.products
                            tr.bg-white(product-id = product._id)
                                td.col-1
                                    input(type = "checkbox")
                                td.col-3.py-2
                                    .d-flex.items-center.gap-x-1.justify-center
                                        img(src = product.thumbnail class = "col-2 px-0 py-0")
                                        span.font-bold.font-14 #{product.title}
                                td.col-2.font-bold #{formatMoney(product.price)}đ
                                td.col-2
                                    a.border-none.font-bold.bg-white.text-decoration-none(href = `/cart/${product._id}/${product.quantity+1}`) +
                                    input(type = "text" name = "quantity" value = product.quantity class = "col-3 px-0 py-0 text-align-center")
                                    a.border-none.font-bold.bg-white(href = `/cart/${product._id}/${product.quantity-1}`) -
                                td.col-2.font-bold.text-red #{formatMoney(product.price * product.quantity)}đ
                                td.col-2
                                    button.bg-red.text-white.font-bold.rounded.border-none(btn-delete element-id = product._id) Xoá
                .py-2
                .d-flex.items-center.justify-end.col-12.bg-white.table-cart.gap-x-1
                    .span.font-11.font-bold Tổng cộng (): 
                        span.text-red.font-14 #{formatMoney(totalPrice)}đ
                    a(href = "/checkout")
                        button.border-none.bg-red.text-white.font-bold.font-14 Đặt hàng
            - else
                .d-flex.flex-column.items-center
                    span.font-bold.text-gray-600 Không có sản phẩm nào trong giỏ
                    a(href = "/products") Đặt Hàng Ngay
    
    form(
        class = "d-none"
        form-delete
        action = "/cart/delete-product"
        method = 'GET'
    )
    form(
        class = "d-none"
        form-change-quantity
        action = "/cart"
        method = "PATCH"
    )
        input(name = "quantity" type = "number")

    script(src = "js/cart.js")


            
