extends ../../layouts/default.pug 

include ../../mixins/alert
include ../../mixins/pagination

block main

    +Alert(messages,"5000")

    h1 Danh sách bài đăng
    .container-fluid.px-3
        .productTool.container.px-0.rounded
            p.bg-gray-200.font-bold.px-3.py-3.m-0 Bộ lọc và tìm kiếm
                .boLoc.px-3.py-3.d-flex.justify-between 
                    .d-flex.items-center.gap-x-3
                        each item in buttons 
                            button(class = `buttonDefault border-none ${item.class}` active = `${item.status}`) #{item.content}
                    form(class = "d-flex items-center form__timKiem rounded" id = "form-search")
                        input(type = "text" name = "keyword" value = keyword class = "border-none outline-none")
                        button(class = "border-none bg-white")
                            i(class="fa-solid fa-magnifying-glass")
    .py-2
    .container-fluid.px-3
        .productTool.container.px-0.rounded
            p.bg-gray-200.font-bold.px-3.py-3.m-0 Sắp Xếp
            select(name="sort" class="select-sort" style = "margin: 20px 12px;")
                option Sắp xếp theo
                option(value="createdAt-asc" selected = keyAndValueSort === "createdAt-asc") Từ cũ đến mới
                option(value="createdAt-desc" selected = keyAndValueSort === "createdAt-desc") Từ mới đến cũ
                option(value="title-asc" selected = keyAndValueSort === "title-asc") Tiêu Đề A-Z
                option(value="title-desc" selected = keyAndValueSort === "title-desc") Tiêu Đề Z-A
            button(class = "bg-red border-none font-bold text-white rounded cursor-pointer button-clear") Clear
    .py-2
    div(class="dsSanPham container-fluid")
        .container
            div(class="d-flex justify-between align-self m-bottom-3")
                div(class="d-flex gap-x-3 align-self")
                    form(action="/admin/products/change-multi?_method=PATCH" method="POST" id="form-change-multi" class="d-flex gap-x-3 align-self")
                        select(name="type" class="border-none rounded px-3 py-2")
                            option(disabled selected) --Chọn Thao Tác--
                            option(value="active") Hoạt Động
                            option(value="inactive") Dừng Hoạt Động
                            option(value="delete") Xoá Tất Cả
                            option(value="change-position") Thay đổi vị trí
                        input(class="d-none" name="ids" value="")
                        button(type="submit" class="border-none text-white bg-blue rounded px-3 py-2 cursor-pointer") Áp Dụng
                    a(href="products/trashCan" class="text-decoration-none text-gray-600 py-2") Thùng Rác
                if(role.permissions.includes("permissions-product-create"))
                    a(href="/admin/blogs/create" class="border-none text-white bg-blue px-4 py-2 rounded font-bold text-decoration-none cursor-pointer") Thêm mới bài đăng
                
            
        table.container-fluid.productTool.w-full.bg-white.rounded-lg(checkbox-multi)
            thead.bg-gray
                tr.text-align-center
                    th.py-2
                        input.cursor-pointer(type="checkbox" id="changeStatusAll")
                    th.py-2 STT
                    th.py-2 Hình ảnh
                    th.py-2 Tiêu đề
                    th.py-2 Mô tả ngắn
                    th.py-2 Trạng thái
                    th.py-2 Hành động
            tbody
                each item,index in blogs
                    tr.text-align-center.boxItem
                        td.py-2
                            input.cursor-pointer(type="checkbox" name="id" value=item.id)
                        td.py-2.font-14 #{index+1}
                        td.py-2
                            img.rounded.object-fit-cover(src=item.thumbnail style="width:70px;height:70px")
                        td.py-2.text-align-start.font-14.font-bold #{item.title}
                        td.py-2.text-align-start.font-14.font-bold !{item.excerpt}
                        td.py-2
                            button.border-none.font-bold.rounded.font-14.py-1.px-3.cursor-pointer(class=item.status=="active" ? "bg-green text-white" : "bg-red text-white" button-status=item.status=="active" ? "inactive" : "active" id-element=item.id) #{item.status=="active" ? "Hoạt động" : "Không hoạt động"}
                        td.py-2
                            .d-flex.gap-x-3
                                if(role.permissions.includes("permissions-blog-edit"))
                                    button.bg-orange.border-none.font-bold.rounded.font-14.py-1.px-3.cursor-pointer
                                        a.text-decoration-none.text-white(href=`/admin/blogs/edit/${item.id}`) Sửa
                                if(role.permissions.includes("permissions-blog-delete"))
                                    button.bg-red.border-none.font-bold.rounded.font-14.py-1.px-3.cursor-pointer(button-delete-product id-element=item.id) Xoá
                                button.bg-blue.border-none.font-bold.rounded.font-14.py-1.px-3.cursor-pointer
                                    a.text-decoration-none.text-white(href=`/admin/blogs/detail/${item.id}`) Xem
    
    +Pagination(currentPage,totalPage)

    form(
        id = "form-changeStatus"
        method = "POST"
        action = "/admin/blogs/change-status"
    )
    form(
        id = "delete-product"
        method = "POST"
        action = ""
        data-path = `/admin/blogs/delete`
    )